input {
  border: none;
  outline: none;
  background: none;
  box-shadow: none;
  outline-style: none;
  box-shadow: none;
  border-color: transparent;
}

input:focus {
  outline: none;
  outline-style: none;
  box-shadow: none;
  border-color: transparent;
}

button {
  cursor: pointer;
}
